# PANDAS Categorical

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("tips.csv")
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [7]:
df.sort_values('day')

     total_bill   tip     sex smoker   day    time  size
96        27.28  4.00    Male    Yes   Fri  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
98        21.01  3.00    Male    Yes   Fri  Dinner     2
97        12.03  1.50    Male    Yes   Fri  Dinner     2
95        40.17  4.73    Male    Yes   Fri  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
132       11.17  1.50  Female     No  Thur   Lunch     2
131       20.27  2.83  Female     No  Thur   Lunch     2
130       19.08  1.50    Male     No  Thur   Lunch     2
128       11.38  2.00  Female     No  Thur   Lunch     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# String to Categorical

mostly use in this way

In [9]:
pd.Categorical(df.day)

['Sun', 'Sun', 'Sun', 'Sun', 'Sun', ..., 'Sat', 'Sat', 'Sat', 'Sat', 'Thur']
Length: 244
Categories (4, object): ['Fri', 'Sat', 'Sun', 'Thur']

In [10]:
df.day.astype('category')

0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
       ...
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day, Length: 244, dtype: category
Categories (4, object): ['Fri', 'Sat', 'Sun', 'Thur']

# ordering the category

In [12]:
pd.Categorical(df.day,categories=['Thur','Fri','Sat','Sun'],ordered=True)

['Sun', 'Sun', 'Sun', 'Sun', 'Sun', ..., 'Sat', 'Sat', 'Sat', 'Sat', 'Thur']
Length: 244
Categories (4, object): ['Thur' < 'Fri' < 'Sat' < 'Sun']

In [13]:
df['day_cat'] = pd.Categorical(df.day,categories=['Thur','Fri','Sat','Sun'],ordered=True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
 7   day_cat     244 non-null    category
dtypes: category(1), float64(2), int64(1), object(4)
memory usage: 13.9+ KB

finally day_cat sort day correctly!

In [21]:
df.sort_values('day_cat')

     total_bill   tip     sex smoker   day    time  size day_cat
121       13.42  1.68  Female     No  Thur   Lunch     2    Thur
133       12.26  2.00  Female     No  Thur   Lunch     2    Thur
132       11.17  1.50  Female     No  Thur   Lunch     2    Thur
131       20.27  2.83  Female     No  Thur   Lunch     2    Thur
130       19.08  1.50    Male     No  Thur   Lunch     2    Thur
..          ...   ...     ...    ...   ...     ...   ...     ...
158       13.39  2.61  Female     No   Sun  Dinner     2     Sun
157       25.00  3.75  Female     No   Sun  Dinner     4     Sun
156       48.17  5.00    Male     No   Sun  Dinner     6     Sun
186       20.90  3.50  Female    Yes   Sun  Dinner     3     Sun
0         16.99  1.01  Female     No   Sun  Dinner     2     Sun

[244 rows x 8 columns]

In [23]:
df.groupby('day').size()

day
Fri     19
Sat     87
Sun     76
Thur    62
dtype: int64

In [24]:
df.groupby('day_cat').size()

/var/folders/7_/6rnw1yrs7p923fzd_64549v00000gn/T/ipykernel_5483/1031966495.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('day_cat').size()

day_cat
Thur    62
Fri     19
Sat     87
Sun     76
dtype: int64

# Managing Category

using sub-module cat

In [30]:
df.day_cat.cat.categories

Index(['Thur', 'Fri', 'Sat', 'Sun'], dtype='object')

## add category

In [33]:
S_Series = df.day_cat.cat.add_categories('Wed')
S_Series

0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
       ...
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day_cat, Length: 244, dtype: category
Categories (5, object): ['Thur' < 'Fri' < 'Sat' < 'Sun' < 'Wed']

## remove category

if we remove category in the table if it use value will be nan

not inplace!!

In [34]:
S_Series.cat.remove_categories('Thur')

0      Sun
1      Sun
2      Sun
3      Sun
4      Sun
      ...
239    Sat
240    Sat
241    Sat
242    Sat
243    NaN
Name: day_cat, Length: 244, dtype: category
Categories (4, object): ['Fri' < 'Sat' < 'Sun' < 'Wed']

In [35]:
S_Series.cat.categories

Index(['Thur', 'Fri', 'Sat', 'Sun', 'Wed'], dtype='object')

## reorder

In [38]:
S_Series = S_Series.cat.reorder_categories(new_categories=['Wed','Thur','Fri','Sat','Sun'],ordered=True)
S_Series

0       Sun
1       Sun
2       Sun
3       Sun
4       Sun
       ...
239     Sat
240     Sat
241     Sat
242     Sat
243    Thur
Name: day_cat, Length: 244, dtype: category
Categories (5, object): ['Wed' < 'Thur' < 'Fri' < 'Sat' < 'Sun']

## unorder

In [41]:
S_Series.cat.as_unordered(),S_Series

(0       Sun
 1       Sun
 2       Sun
 3       Sun
 4       Sun
        ...
 239     Sat
 240     Sat
 241     Sat
 242     Sat
 243    Thur
 Name: day_cat, Length: 244, dtype: category
 Categories (5, object): ['Wed', 'Thur', 'Fri', 'Sat', 'Sun'],
 0       Sun
 1       Sun
 2       Sun
 3       Sun
 4       Sun
        ...
 239     Sat
 240     Sat
 241     Sat
 242     Sat
 243    Thur
 Name: day_cat, Length: 244, dtype: category
 Categories (5, object): ['Wed' < 'Thur' < 'Fri' < 'Sat' < 'Sun'])